#leaderboardx {
	position: absolute;
	width: 240px;
	height: 445px;
	left: 10px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 10px;
	transition: ease-in-out 500ms;
	clip-path: polygon(0 0, 200% 0, 200% 100%, 0 100%);
}

#leaderboard {
	position: absolute;
	width: 240px;
	height: 445px;
	top: 0;
	transition: ease-in-out 500ms;
}

.playerContainer {
	position: absolute;
	padding: 10px;
	width: 250px;
	height: 50px;
	background-color: rgba(0 0 0 / 0.6);
	border-radius: 5px;
	margin-bottom: 5px;
	transition: ease-in-out 500ms;
	font-size: 15px;
	font-weight: 900;
	line-height: 25px;
	font-family: Torus;

	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;

	filter: drop-shadow(0 0 5px rgba(0, 0, 0 ,0));
}

.playerContainer::after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 50px;
	width: 8px;
	right: -4px;
	border-radius: 3px;
	background-color: #de3950;
	box-shadow: 0 0 10px 2px #de3950;
	transition: ease-in-out 500ms;
}

.ourplayerContainer {
	position: absolute;
	bottom: -5px;
	padding: 10px;
	width: 250px;
	height: 50px;
	background-color: rgba(0 0 0 / 0.6);
	border-radius: 5px;
	margin-bottom: 5px;
	transition: ease-in-out 500ms;
	font-size: 15px;
	font-weight: 900;
	line-height: 25px;
	font-family: Torus;

	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.ourplayerContainer::after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 50px;
	width: 8px;
	right: -4px;
	border-radius: 3px;
	background-color: goldenrod;
	box-shadow: 0 0 10px 2px goldenrod;
	transition: ease-in-out 500ms;
}

.mods {
	width: 90px;
	height: 90px;
	filter: drop-shadow(0 5px 10px black);
	transition: ease-in-out 500ms;
}

.minimods {
	width: 20px;
	height: 20px;
	filter: drop-shadow(0 5px 5px rgba(0 0 0 / 0.6));
	background-size: 100%;
}

.minimodsContainer {
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
	top: 10px;
	right: 80px;
	height: 20px;
}