@font-face {
	font-family: "Exo2";
	src: url("../fonts/Exo2-MediumItalic.otf");
}

@font-face {
	font-family: "GothicR";
	src: url("../fonts/GothicR.ttf");
}

@font-face {
	font-family: "GothicRD";
	src: url("../fonts/GothicRD.ttf");
}

@font-face {
	font-family: "LinotteL";
	src: url("../fonts/LinotteL.ttf");
}

@font-face {
	font-family: "Torus";
	src: url("../fonts/Torus-Regular.otf");
}

body,
html {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#main {
	font-size: 30px;
	font-family: GothicRD;
	font-weight: normal;
	color: white;
	/* background-image: url('../static/Background.jpg'); */
	/* background-color: #15151e; */
	background-size: 100%;
	width: 1920px;
	height: 1080px;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.odometer.odometer-auto-theme {
	font-family: "GothicRD", Helvetica, sans-serif !important;
	font-weight: 900 !important;
}

#mapBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
	z-index: -2;
	transition: ease-in-out 500ms;
	clip-path: url('#myClip');
}

#rankingPanelBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
	z-index: -2;
	transition: ease-in-out 500ms;
	opacity: 0;
}

#top {
	position: absolute;
	width: 1920px;
	top: 5px;
	height: 125px;
	transition: ease-in-out 500ms;
}

#ava {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 90px;
	box-shadow: 0 5px 5px black;
	transition: ease-in-out 500ms;
	background-size: 100%;
	background-position: 50% 50%;
	border-radius: 22px;
	background-repeat: no-repeat;
	z-index: -1;
}

.otherContainer {
	position: absolute;
	top: 40px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	/* background-color: #161616; */
	border-radius: 10px;
	font-size: 20px;
	font-family: "Torus";
	font-weight: 900;
	color: white;
	text-align: center;
	transition: ease-in-out 500ms;
	/* box-shadow: 0 5px 5px black; */
	text-shadow: 0 3px 10px black;
	text-overflow: ellipsis;
	overflow: hidden;
}

#username {
	left: 640px;
}

#playerPP {
	right: 640px;
}

.lightTick {
	position: absolute;
	top: 85px;
	width: 230px;
	padding: 5px;
	background-color: #161616;
	border-radius: 10px;
	transition: ease-in-out 500ms;
	/* box-shadow: 0 5px 5px black; */
}

.xContainer {
	position: absolute;
	top: 65px;
	width: 120px;
	height: 30px;
	padding: 5px 0px 5px 0px;
	transition: ease-in-out 500ms;
}

#globalContainer {
	right: 185px;
}

#countryContainer {
	left: 185px;
}

.rankContainer {
	position: absolute;
	top: 0;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: white;
	/* background-color: #161616; */
	padding: 5px 0px 5px 0px;
	font-size: 18px;
	font-family: Torus;
	font-weight: 900;
	color: white;
	text-align: center;
	border-radius: 15px;
	transition: ease-in-out 500ms;
	text-shadow: 0 3px 10px black;
	/* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); */
}

#ranks {
	right: 0;
}

#countryRank {
	left: 0;
}

.flag {
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 35px;
	height: 23px;
	background-color: #161616;
	background-position: center;
	background-size: 100%;
	font-size: 15px;
	color: white;
	text-align: center;
	border-radius: 5px;
	transition: ease-in-out 500ms;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
#global {
	background-image: url('../static/globalFlag.png');
}

#hp {
	position: absolute;
	width: 1920px;
	height: 100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../static/hp.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transition: ease-in-out 100ms;
	z-index: -1;
}

#hpBG {
	position: absolute;
	width: 1920px;
	height: 100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../static/hpBG.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transition: ease-in-out 100ms;
	z-index: -1;
}

.statContainer {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 10px;
	top: 20px;
	width: 220px;
	/* box-shadow: 0 5px 9px black; */
	font-family: Torus;
	font-weight: 900;
	font-size: 25px;
	transition: ease-in-out 500ms;
	text-shadow: 0 3px 10px black;
	/* background-color: #161616; */
	color: white;
}

#RSRP {
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
	overflow: hidden;
}
